
.icon-cancel:before { content: '\e800'; } /* '' */
.icon-phone-squared:before { content: '\f098'; } /* '' */
.icon-angle-circled-up:before { content: '\f139'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-whatsapp:before { content: '\f232'; } /* '' */
